.wrapper {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(20rem, 1fr)) 1fr;
  gap: 3rem;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    gap: 1rem;
  }
  .logo {
    grid-column: 2;
  }
  background-color: var(--secondary);
  .loader {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 999;
    animation: bluur 1s;
    .thumb {
      filter: drop-shadow(0 0 50px var(--success-main));

      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      background-color: var(--success-main);
      display: flex;
      justify-content: center;
      align-items: center;
      animation: bg 1s;
      svg {
        font-size: 5rem;
        animation: tumb 1s;
      }
    }
  }
}

@keyframes bluur {
  0% {
    backdrop-filter: blur(0px);
  }
  10% {
    backdrop-filter: blur(1px);
  }
  50% {
    backdrop-filter: blur(2px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}

@keyframes tumb {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 5rem;
  }
}

@keyframes bg {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 10rem;
    height: 10rem;
  }
}
