.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
  padding: 2rem 10rem;
  position: relative;
  a.item {
    // border: 1px solid black;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
    border-radius: 0.5rem;
    overflow: hidden;
    .year {
      height: 3rem;
      width: 100%;
      font-size: 1.5rem;
      font-weight: 1000;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      display: grid;
      place-items: center;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    .title {
      font-size: 10rem;
      line-height: 8rem;
      filter: drop-shadow(0.2rem 0.2rem var(--secondary-text));
    }
  }
  .item:hover {
    box-shadow: 0.2rem 0.2rem 0.1rem var(--secondary-text);
  }
  a.flat {
    grid-column: 1/-1;
    text-decoration: none;
    background-color: var(--info-main);
    color: var(--info-contrast-text);
    display: grid;
    place-items: center;
    height: 4rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
  }
  .loader {
    position: absolute;
    inset: 0;
    // backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
  }
}
