.wrapper {
    height: 5rem;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    place-items: center ;
    background-color: var(--primary-main);
    box-shadow: 0 0.5rem 1rem var(--divider);

    .logo {
        font-size: 3rem;
        font-family: 'Amatic SC', cursive;
    }
}