@use "./clearStyles.modeule.scss" as *;

@if var(--theme) == "light" {
    @use "_lightTheme.scss"
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100vh;
}
